
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #063263;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 10%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 50px;
    margin-right: 10px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px; 
    display: flex;
    align-items: center;
}

.header-right a i {
    margin-right: 5px;
}

.header-right a:hover {
    color: #ddd;
}

.categories-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 35px 0;
}

.category-card {
    width: 150px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-image {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%; 
    margin-bottom: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-image:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.category-name {
    font-size: 16px;
    font-weight: bold;
}
@media (max-width: 1026px) {
    .category-item {
      width: 22%;
    }
  }
  
  @media (max-width: 768px) {
    .category-item {
      width: 45%;
    }
  }
  
  @media (max-width: 500px) {
    .category-item {
      width: 100%;
    }
  }
  .slider-wrapper {
    width: 100%;
    height: 41vh; /* Fixed height (40% of the viewport height) */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slider-item {
    min-width: 100%; /* Each slide takes full width */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider-image {
    width: 100%;
    height: 100%; /* Ensure the image fills the height of the container */
    object-fit: cover; /* Ensures image fills the container while maintaining aspect ratio */
    object-position:  center; /* Ensures image is centered */
    
   
}

.dots {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #007bff;
}
