body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

form#addProductForm {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form#addProductForm label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form#addProductForm select,
form#addProductForm input[type="text"],
form#addProductForm input[type="number"],
form#addProductForm input[type="file"],
form#addProductForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form#addProductForm select {
    height: 40px; /* Increase the height of the dropdown */
}

form#addProductForm textarea {
    resize: vertical;
}

form#addProductForm button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form#addProductForm button:hover {
    background-color: #218838;
}
