.orders-container {
    
    width:100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.order-card {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 800px;
}

.order-link {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.order-link:hover {
    color: inherit; 
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
}

.order-details {
    flex-grow: 1;
}

.order-details h3 {
    margin-top: 0;
    color: #007bff;
}

.order-details p {
    margin: 5px 0;
    color: #555;
}

